.container {
  margin-top: 32px;
  padding: 0 16px;
  @media screen and (min-width: 560px) {
    padding: 0 24px;
  }
  @media screen and (min-width: 920px) {
    padding: 0 80px;
  }
}
.navigation {
  margin-bottom: 22px;
}
.navigation ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
.navigationTab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.navigation ul li .tab {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #7f7d83;
  cursor: pointer;
}
.navigation ul li .navigationTab.active .tab {
  color: #0a090b;
}
.notificationValue {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #e6e6e6;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4f4d55;
}
.navigationTab.active .notificationValue {
  background-color: #1751d0;
  color: #e6e6e6;
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 24px;

  @media screen and (min-width: 560px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 920px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
