.card {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 0px 1px #0a090b0d;
  box-shadow: 0px 0px 3px -1px #0a090b0a;
  box-shadow: 0px 16px 24px -6px #0a090b14;
  font-size: small;
  @media screen and (min-width: 560px) {
    max-width: 420px;
  }
}
.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cardIcons {
  width: min-content;
  display: flex;
  flex-direction: row-reverse;
}
.logoContainer {
  height: 32px;
  width: 32px;
  margin-right: -10px;
  border: 2px solid white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.logoContainer img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.middlesection {
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardTitle h3 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #0a090b;
}
.cardDuration {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 12px;
}
.cardDuration .dates {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardDuration .dates .dot {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.cardDuration .dates span {
  margin-left: 8px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
.cardDuration .dates span b {
  font-weight: 500;
}
.lastSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lastSection .lastUpdated {
  display: flex;
}
.lastSection .lastUpdated h3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #7f7d83;
}
.lastSection .lastUpdated span {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #1d1c20;
}
.avatarImages {
  display: flex;
  align-items: center;
}
.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -10px;
  border: 2px solid white;
}
.avatar:last-child {
  margin-right: 0;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatar .teamImageGreaterThanThree {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-color: #ececed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.outer {
  width: 100%;
  height: 4px;
  border-radius: 32px;
  background-color: #ececed;
}
.inner {
  height: 4px;
  border-radius: 4px;
  background-color: #019939;
}
.complete {
  height: 24px;
  width: max-content;
  padding: 3px 4px 3px 7px;
  background-color: #e1faea;
  color: green;
  border-radius: 4px;
  font-weight: 500;
}
.complete h3 {
  font-size: 13px;
  font-weight: 475;
  line-height: 16px;
  color: #016626;
}
