nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  @media screen and (min-width: 560px) {
    padding: 24px;
  }
}

.logo {
  height: 48px;
  width: 48px;
  padding: 12px;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  flex: none;
  justify-content: left;
  align-items: center;
  border: 1px solid #dddddd;
}
.logo img {
  width: 100%;
}
.searchBar {
  width: 100%;
  padding: 9px 12px 9px 16px;
  background-color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  font-size: 24px;
  box-shadow: 0px 0px 0px 1px #0a090b0d;
  box-shadow: 0px 2px 2px -1px #0a090b0a;
  box-shadow: 0px 2px 12px -1px #0a090b1a;
}
.options {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  flex: none;
}
.options a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.options .optionIcon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
}
input {
  width: 100%;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 475;
  line-height: 22px;
  text-align: left;
}
